---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-coder-db-postgresql-0
  namespace: coder
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard

