acl MYLAN {
    127.0.0.1;
	192.168.1.0/24;
};

logging {
    channel security_file {
        file "/var/log/bindsecurity.log" versions 3 size 30m;
        severity dynamic;
        print-time yes;
    };
    category security {
        security_file;
    };
};

options {
	// Default directory
	directory "/var/cache/bind";
	listen-on port 53 { 127.0.0.1; 192.168.1.1; };
    allow-recursion  { MYLAN; };
    allow-query { MYLAN; };
	// Use Google DNS as a forwarder
	forwarders{
	    192.168.1.1 ;
		8.8.8.8 ;
	};
	// Allow recursive queries
	recursion yes;

};
