# Boot aliases
alias {reboot}="shutdown -r now"
alias {bye}="shutdown now"

# Kubernetes aliases
alias k='kubectl'
alias kd='k describe'
alias kex='k exec -it'
alias kg='k get'
alias kgc='k config get-contexts'
alias kgi='kg ingress'
alias kgp='kg pods'
alias kgpn='kgp -o wide --sort-by="{.spec.nodeName}"'
alias kl='k logs'
alias kns='k config set-context "$(k config current-context)" --namespace'
alias kru='k rollout restart deployment'
alias krud='k rollout restart daemonset'
alias krus='k rollout restart statefulset'
alias kuc='k config use-context'
